.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.zero{
  padding: 60px;
  text-align: left;
  color: white;
  font-size: 30px;
  background-image: url("https://image.shutterstock.com/z/stock-photo-school-chalk-board-is-painted-with-different-formulas-and-signs-from-the-school-curriculum-a-green-1801612474.jpg");
  background-color: #cccccc
  grid-column: 1 / 4;
  grid-row: 1 ;
}
.one {
  grid-column: 1 / 4;
  grid-row: 2;
}
.two {
  grid-column: 2 / 4;
  grid-row: 3;
}
.three {
  grid-column: 2 / 4;
  grid-row: 4 / 6;
}
.four {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

body {background-color:white; font-family: Arial, sans-serif;}

header {background-color:yellow;}

h2 {color:blue;
    padding: 60px;
    text-align: center;
    background: SkyBlue;
    color: white;
    font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
