.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 2;
}
.three {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
.four {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.video {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
div.desc {
  padding: 15px;
  text-align: center;
}
body {background-color:white; font-family: Arial, sans-serif;}

header {background-color:yellow;}

h2 {color:blue;
    padding: 60px;
    text-align: center;
    background: SkyBlue;
    color: white;
    font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
